<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysDictTypeMapper">

	<resultMap type="SysDictType" id="SysDictTypeResult">
		<id     property="dictId"     column="dict_id"     />
		<result property="dictName"   column="dict_name"   />
		<result property="dictType"   column="dict_type"   />
		<result property="status"     column="status"      />
		<result property="createBy"   column="create_by"   />
		<result property="createTime" column="create_time" />
		<result property="updateBy"   column="update_by"   />
		<result property="updateTime" column="update_time" />
	</resultMap>
	
	<sql id="selectDictTypeVo">
        select dict_id, dict_name, dict_type, status, create_by, create_time, remark 
		from sys_dict_type
    </sql>

	<select id="selectDictTypeList" parameterType="SysDictType" resultMap="SysDictTypeResult">
	    <include refid="selectDictTypeVo"/>
		<where>
		    <if test="dictName != null and dictName != ''">
				AND dict_name LIKE CONCAT('%', #{dictName,jdbcType=VARCHAR}, '%')
			</if>
			<if test="status != null and status != ''">
				AND status = #{status,jdbcType=VARCHAR}
			</if>
			<if test="dictType != null and dictType != ''">
				AND dict_type LIKE CONCAT('%', #{dictType,jdbcType=VARCHAR}, '%')
			</if>
			<if test="params.beginTime != null and params.beginTime != '' and params.endTime != null and params.endTime != ''">
                AND `create_time` BETWEEN DATE_FORMAT(#{params.beginTime,jdbcType=VARCHAR}, '%Y-%m-%d %H:%i:%s')
                    AND DATE_FORMAT(#{params.endTime,jdbcType=VARCHAR}, '%Y-%m-%d %H:%i:%s')
            </if>
	    </where>
	</select>
	
	<select id="selectDictTypeAll" resultMap="SysDictTypeResult">
		<include refid="selectDictTypeVo"/>
	</select>
	
	<select id="selectDictTypeById" parameterType="Long" resultMap="SysDictTypeResult">
		<include refid="selectDictTypeVo"/>
		where dict_id = #{dictId,jdbcType=BIGINT}
	</select>
	
	<select id="selectDictTypeByType" parameterType="String" resultMap="SysDictTypeResult">
		<include refid="selectDictTypeVo"/>
		where dict_type = #{dictType,jdbcType=VARCHAR}
	</select>
	
	<select id="checkDictTypeUnique" parameterType="String" resultMap="SysDictTypeResult">
		<include refid="selectDictTypeVo"/>
		where dict_type = #{dictType,jdbcType=VARCHAR} limit 1
	</select>
	
	<delete id="deleteDictTypeById" parameterType="Long">
 		delete from sys_dict_type where dict_id = #{dictId,jdbcType=BIGINT}
 	</delete>
 	
 	<delete id="deleteDictTypeByIds" parameterType="Long">
 		delete from sys_dict_type where dict_id in
 		<foreach collection="array" item="dictId" open="(" separator="," close=")">
 			#{dictId,jdbcType=BIGINT}
        </foreach> 
 	</delete>

 	<update id="updateDictType" parameterType="SysDictType">
 		update sys_dict_type
 		<set>
 			<if test="dictName != null and dictName != ''">dict_name = #{dictName},</if>
 			<if test="dictType != null and dictType != ''">dict_type = #{dictType},</if>
 			<if test="status != null">status = #{status},</if>
 			<if test="remark != null">remark = #{remark},</if>
 			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 			update_time = NOW()
 		</set>
 		where dict_id = #{dictId,jdbcType=BIGINT}
	</update>
 	
 	<insert id="insertDictType" parameterType="SysDictType">
 		insert into sys_dict_type(
 			<if test="dictName != null and dictName != ''">dict_name,</if>
 			<if test="dictType != null and dictType != ''">dict_type,</if>
 			<if test="status != null">status,</if>
 			<if test="remark != null and remark != ''">remark,</if>
 			<if test="createBy != null and createBy != ''">create_by,</if>
 			create_time
 		)values(
 			<if test="dictName != null and dictName != ''">#{dictName},</if>
 			<if test="dictType != null and dictType != ''">#{dictType},</if>
 			<if test="status != null">#{status},</if>
 			<if test="remark != null and remark != ''">#{remark},</if>
 			<if test="createBy != null and createBy != ''">#{createBy},</if>
 			NOW()
 		)
	</insert>

	<update id="updateByPrimaryKey" parameterType="SysDictType">
        <!--@mbg.generated-->
        update sys_dict_type
        set dict_name   = #{dictName,jdbcType=VARCHAR},
            dict_type   = #{dictType,jdbcType=VARCHAR},
            `status`    = #{status,jdbcType=CHAR},
            update_by   = #{updateBy,jdbcType=VARCHAR},
            update_time = NOW(),
            remark      = #{remark,jdbcType=VARCHAR}
        where dict_id = #{dictId,jdbcType=BIGINT}
  </update>


	<update id="updateByPrimaryKeySelective" parameterType="SysDictType">
    <!--@mbg.generated-->
        update sys_dict_type
        <set>
            <if test="dictName != null and dictName != ''">
                dict_name = #{dictName,jdbcType=VARCHAR},
            </if>
            <if test="dictType != null and dictType != ''">
                dict_type = #{dictType,jdbcType=VARCHAR},
            </if>
            <if test="status != null and status != ''">
                `status` = #{status,jdbcType=CHAR},
            </if>
            <if test="createBy != null and createBy != ''">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where dict_id = #{dictId,jdbcType=BIGINT}
  </update>

  <insert id="batchInsert" keyColumn="dict_id" keyProperty="dictId" parameterType="map" useGeneratedKeys="true">
	  <!--@mbg.generated-->
	  insert into sys_dict_type
			  (dict_name, dict_type, `status`, create_by, create_time, update_by, update_time,
			   remark)
			  values
	  <foreach collection="list" item="item" separator=",">
		  (#{item.dictName,jdbcType=VARCHAR}, #{item.dictType,jdbcType=VARCHAR}, #{item.status,jdbcType=CHAR},
		   #{item.createBy,jdbcType=VARCHAR}, NOW(), #{item.updateBy,jdbcType=VARCHAR},
		   NOW(), #{item.remark,jdbcType=VARCHAR})
	  </foreach>
  </insert>
	
</mapper> 