package ${packageName}.domain;

#foreach ($column in $columns)
#if($column.javaType == 'Date' && !$table.isSuperColumn($column.javaField))
import com.fasterxml.jackson.annotation.JsonFormat;
#break
#end
#end
#if(${excelExport})
import com.ruoyi.common.annotation.Excel;
#end
#if($table.crud || $table.sub)
#elseif($table.tree)
import com.ruoyi.common.core.domain.TreeEntity;
#end
import com.ruoyi.common.core.domain.BaseEntity;
#if(${swagger})
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end
import org.apache.commons.lang3.builder.ToStringBuilder;
import org.apache.commons.lang3.builder.ToStringStyle;

#foreach ($import in $importList)
#if($import != "com.fasterxml.jackson.annotation.JsonFormat")
import ${import};
#end
#end

/**
 * ${functionName}对象 ${tableName}
 * 
 * @author ${author}
 * @date ${datetime}
 */
#if(${swagger})
@ApiModel(value = "${functionName}对象")
#end
#if($table.crud || $table.sub)
#set($Entity="BaseEntity")
#elseif($table.tree)
#set($Entity="TreeEntity")
#end
public class ${ClassName} extends ${Entity} {

    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.javaField))
    /**
     * $column.columnComment
     */
#if($column.columnComment.contains("主键") || $column.columnComment.contains("ID"))
#if(${swagger} && ${excelExport})
    @ApiModelProperty(value = "$column.columnComment")
    @Excel(name = "$column.columnComment")
#end
#if(${excelExport} && !${swagger})
    @Excel(name = "$column.columnComment")
#end
#if(!${excelExport} && ${swagger})
    @ApiModelProperty(value = "$column.columnComment")
#end
#end
#if($column.list)
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#if(${comment} == $column.readConverterExp())
#if(${swagger} && ${excelExport})
    @ApiModelProperty(value = "${comment}")
#if($column.javaType != 'Date')
    @Excel(name = "$column.columnComment")
#end
#end
#if(${swagger} && !${excelExport})
    @ApiModelProperty(value = "${comment}")
#end
#if(!${swagger} && ${excelExport})
    @Excel(name = "$column.columnComment")
#end
#end
#if(${comment} != $column.readConverterExp())
#if(${swagger})
    @ApiModelProperty(value = "${comment}($column.readConverterExp())")
#end
#end
#if($column.javaField == ${pkColumn.javaField})
#if(${swagger} && !${excelExport})
    @ApiModelProperty(value = "主键ID")
#end
#if(!${swagger} && ${excelExport})
    @Excel(name = "$column.columnComment")
#end
#end
#if($parentheseIndex != -1)
#if(${excelExport})
#if($column.javaType == 'Date')
    @JsonFormat(pattern = "yyyy-MM-dd")
    @Excel(name = "${comment}", width = 30, dateFormat = "yyyy-MM-dd HH:mm:ss", type = Type.EXPORT)
#end
#if($column.javaType != 'Date')
    @Excel(name = "${comment}", readConverterExp = "$column.readConverterExp()")
#end
#end
#if(!${excelExport})
#if($column.javaType == 'Date')
    @JsonFormat(pattern = "yyyy-MM-dd")
#end
#end
#end
#if($column.readConverterExp() == $column.columnComment && ${excelExport})
###if($column.javaType != 'Date')
##    @Excel(name = "${comment}", readConverterExp = "$column.readConverterExp()") //jjj
###end
#if($column.javaType == 'Date')
    @JsonFormat(pattern = "yyyy-MM-dd")
    @Excel(name = "${comment}", width = 30, dateFormat = "yyyy-MM-dd HH:mm:ss", type = Type.EXPORT)
#end
#end
#end
#if($column.javaType == 'Date')
    private LocalDateTime $column.javaField;

#end
#if($column.javaType != 'Date')
    private $column.javaType $column.javaField;

#end
#end
#end

#if($table.sub)
    /**
     * $table.subTable.functionName信息
     */
    private List<${subClassName}> ${subclassName}List;
#end
#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.javaField))
#if($column.javaField.length() > 2 && $column.javaField.substring(1,2).matches("[A-Z]"))
#set($AttrName=$column.javaField)
#else
#set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
#end
#if($column.javaType == 'Date')

    public void set${AttrName}(LocalDateTime $column.javaField) {
        this.$column.javaField = $column.javaField;
    }

    public LocalDateTime get${AttrName}(){
        return $column.javaField;
    }
#end
#if($column.javaType != 'Date')
    public void set${AttrName}($column.javaType $column.javaField) {
        this.$column.javaField = $column.javaField;
    }

    public $column.javaType get${AttrName}(){
        return $column.javaField;
    }
#end
#end
#end

#if($table.sub)
    public List<${subClassName}> get${subClassName}List() {
        return ${subclassName}List;
    }

    public void set${subClassName}List(List<${subClassName}> ${subclassName}List) {
        this.${subclassName}List = ${subclassName}List;
    }

#end
    @Override
    public String toString() {
        return new ToStringBuilder(this, ToStringStyle.MULTI_LINE_STYLE)
#foreach ($column in $columns)
#if($column.javaField.length() > 2 && $column.javaField.substring(1,2).matches("[A-Z]"))
#set($AttrName=$column.javaField)
#else
#set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
#end
            .append("${column.javaField}", get${AttrName}())
#end
#if($table.sub)
            .append("${subclassName}List", get${subClassName}List())
#end
            .toString();
    }

}
